<?xml version="1.0" encoding="utf-8" ?>
<Menus>
  <MenuItem>
    <Title>综合</Title>
    <ItemID>700</ItemID>
    <ParentItemID>0</ParentItemID>
    <FullClassName></FullClassName>
    <IsChild>1</IsChild>
    <AssemblyPath></AssemblyPath>
  </MenuItem>
  <MenuItem>
    <Title>扩展配置</Title>
    <ItemID>70001</ItemID>
    <ParentItemID>700</ParentItemID>
    <FullClassName>Lemonade.Samples.Declare.SampleExConfig</FullClassName>
    <IsChild>0</IsChild>
    <AssemblyPath>Lemonade.Samples.Declare</AssemblyPath>
  </MenuItem>
  <MenuItem>
    <Title>插件信息</Title>
    <ItemID>70002</ItemID>
    <ParentItemID>700</ParentItemID>
    <FullClassName>Lemonade.Samples.Console.FrmLemonadeModuleInfo</FullClassName>
    <IsChild>0</IsChild>
    <AssemblyPath>Lemonade.Samples.Console</AssemblyPath>
  </MenuItem>
  <MenuItem>
    <Title>模块插件</Title>
    <ItemID>800</ItemID>
    <ParentItemID>0</ParentItemID>
    <FullClassName></FullClassName>
    <IsChild>1</IsChild>
    <AssemblyPath></AssemblyPath>
  </MenuItem>
  <MenuItem>
    <Title>打开插件窗体</Title>
    <ItemID>80001</ItemID>
    <ParentItemID>800</ParentItemID>
    <FullClassName>Lemonade.Samples.NewModule.SampleWindow</FullClassName>
    <IsChild>0</IsChild>
    <AssemblyPath>Lemonade.Samples.NewModule</AssemblyPath>
  </MenuItem>
  <MenuItem>
    <Title>运行自定义插件功能</Title>
    <ItemID>80002</ItemID>
    <ParentItemID>800</ParentItemID>
    <FullClassName>Lemonade.Samples.NewModule.SampleFunction</FullClassName>
    <IsChild>0</IsChild>
    <AssemblyPath>Lemonade.Samples.NewModule</AssemblyPath>
  </MenuItem>
  <MenuItem>
    <Title>打开通过基类定义接口的插件窗体</Title>
    <ItemID>80003</ItemID>
    <ParentItemID>800</ParentItemID>
    <FullClassName></FullClassName>
    <IsChild>1</IsChild>
    <AssemblyPath></AssemblyPath>
  </MenuItem>
  <MenuItem>
    <Title>窗体1</Title>
    <ItemID>8000301</ItemID>
    <ParentItemID>80003</ParentItemID>
    <FullClassName>Lemonade.Samples.NewModule.Wins.Frm1</FullClassName>
    <IsChild>0</IsChild>
    <AssemblyPath>Lemonade.Samples.NewModule</AssemblyPath>
  </MenuItem>
  <MenuItem>
    <Title>跨插件调用对象方法</Title>
    <ItemID>80004</ItemID>
    <ParentItemID>800</ParentItemID>
    <FullClassName>Lemonade.Samples.NewModule.FrmMutualA</FullClassName>
    <IsChild>0</IsChild>
    <AssemblyPath>Lemonade.Samples.NewModule</AssemblyPath>
  </MenuItem>
  <MenuItem>
    <Title>样式</Title>
    <ItemID>900</ItemID>
    <ParentItemID>0</ParentItemID>
    <FullClassName></FullClassName>
    <IsChild>1</IsChild>
    <AssemblyPath></AssemblyPath>
  </MenuItem> 
  <MenuItem>
    <Title>未设置样式</Title>
    <ItemID>9001</ItemID>
    <ParentItemID>900</ParentItemID>
    <FullClassName>Lemonade.Samples.WindowStyle.SampleWindowNoneStyle</FullClassName>
    <IsChild>0</IsChild>
    <AssemblyPath>Lemonade.WindowStyle</AssemblyPath>
  </MenuItem>
  <MenuItem>
    <Title>打开自定义样式窗体</Title>
    <ItemID>9002</ItemID>
    <ParentItemID>900</ParentItemID>
    <FullClassName>Lemonade.Samples.WindowStyle.SampleFunctionStyle</FullClassName>
    <IsChild>0</IsChild>
    <AssemblyPath>Lemonade.Samples.WindowStyle</AssemblyPath>
  </MenuItem>
  <MenuItem>
    <Title>由框架设置基本样式窗体</Title>
    <ItemID>9003</ItemID>
    <ParentItemID>900</ParentItemID>
    <FullClassName>Lemonade.Samples.WindowStyle.SampleWindowStyleFrame</FullClassName>
    <IsChild>0</IsChild>
    <AssemblyPath>Lemonade.Samples.WindowStyle</AssemblyPath>
  </MenuItem>
  <MenuItem>
    <Title>调用全局函数设置基本样式</Title>
    <ItemID>9004</ItemID>
    <ParentItemID>900</ParentItemID>
    <FullClassName>Lemonade.Samples.WindowStyle.SampleWindowGLobalStyel</FullClassName>
    <IsChild>0</IsChild>
    <AssemblyPath>Lemonade.Samples.WindowStyle</AssemblyPath>
  </MenuItem>
  <MenuItem>
    <Title>界面布局</Title>
    <ItemID>1000</ItemID>
    <ParentItemID>0</ParentItemID>
    <FullClassName></FullClassName>
    <IsChild>1</IsChild>
    <AssemblyPath></AssemblyPath>
  </MenuItem>
  <MenuItem>
    <Title>布局测试界面1</Title>
    <ItemID>100002</ItemID>
    <ParentItemID>1000</ParentItemID>
    <FullClassName>Lemonade.Samples.NewModuleMutual.FrmStyleTest1</FullClassName>
    <IsChild>0</IsChild>
    <AssemblyPath>Lemonade.Samples.NewModuleMutual</AssemblyPath>
  </MenuItem>
  <MenuItem>
    <Title>布局测试界面2</Title>
    <ItemID>100003</ItemID>
    <ParentItemID>1000</ParentItemID>
    <FullClassName>Lemonade.Samples.NewModuleMutual.FrmStyleTest2</FullClassName>
    <IsChild>0</IsChild>
    <AssemblyPath>Lemonade.Samples.NewModuleMutual</AssemblyPath>
  </MenuItem>
  <MenuItem>
    <Title>布局测试界面3</Title>
    <ItemID>100004</ItemID>
    <ParentItemID>1000</ParentItemID>
    <FullClassName>Lemonade.Samples.NewModuleMutual.FrmStyleTest3</FullClassName>
    <IsChild>0</IsChild>
    <AssemblyPath>Lemonade.Samples.NewModuleMutual</AssemblyPath>
  </MenuItem>
  <MenuItem>
    <Title>布局测试界面4</Title>
    <ItemID>100005</ItemID>
    <ParentItemID>1000</ParentItemID>
    <FullClassName>Lemonade.Samples.NewModuleMutual.FrmStyleTest4</FullClassName>
    <IsChild>0</IsChild>
    <AssemblyPath>Lemonade.Samples.NewModuleMutual</AssemblyPath>
  </MenuItem>
  <MenuItem>
    <Title>分栏A</Title>
    <ItemID>100006</ItemID>
    <ParentItemID>1000</ParentItemID>
    <FullClassName>Lemonade.Samples.Console.TriggerLayoutSplitA</FullClassName>
    <IsChild>0</IsChild>
    <AssemblyPath>Lemonade.Samples.Console</AssemblyPath>
  </MenuItem>
  <MenuItem>
    <Title>分栏B</Title>
    <ItemID>100007</ItemID>
    <ParentItemID>1000</ParentItemID>
    <FullClassName>Lemonade.Samples.Console.TriggerLayoutSplitB</FullClassName>
    <IsChild>0</IsChild>
    <AssemblyPath>Lemonade.Samples.Console</AssemblyPath>
  </MenuItem>
  <MenuItem>
    <Title>布局测试界面5</Title>
    <ItemID>100008</ItemID>
    <ParentItemID>1000</ParentItemID>
    <FullClassName>Lemonade.Samples.NewModuleMutual.FrmStyleTest11</FullClassName>
    <IsChild>0</IsChild>
    <AssemblyPath>Lemonade.Samples.NewModuleMutual</AssemblyPath>
  </MenuItem>
  <MenuItem>
    <Title>默认布局</Title>
    <ItemID>100007</ItemID>
    <ParentItemID>1000</ParentItemID>
    <FullClassName>Lemonade.Samples.Console.TriggerLayoutDefault</FullClassName>
    <IsChild>0</IsChild>
    <AssemblyPath>Lemonade.Samples.Console</AssemblyPath>
  </MenuItem>
  <MenuItem>
    <Title>分栏C</Title>
    <ItemID>100008</ItemID>
    <ParentItemID>1000</ParentItemID>
    <FullClassName>Lemonade.Samples.Console.TriggerLayoutSplitC</FullClassName>
    <IsChild>0</IsChild>
    <AssemblyPath>Lemonade.Samples.Console</AssemblyPath>
  </MenuItem>
  <MenuItem>
    <Title>对象交换</Title>
    <ItemID>1100</ItemID>
    <ParentItemID>0</ParentItemID>
    <FullClassName></FullClassName>
    <IsChild>1</IsChild>
    <AssemblyPath></AssemblyPath>
  </MenuItem>
  <MenuItem>
    <Title>基本使用</Title>
    <ItemID>110001</ItemID>
    <ParentItemID>1100</ParentItemID>
    <FullClassName>Lemonade.Samples.Swap.FrmSample</FullClassName>
    <IsChild>0</IsChild>
    <AssemblyPath>Lemonade.Samples.Swap</AssemblyPath>
  </MenuItem>
  <MenuItem>
    <Title>根据自定义关键字获取对象</Title>
    <ItemID>110002</ItemID>
    <ParentItemID>1100</ParentItemID>
    <FullClassName>Lemonade.Samples.Swap.FrmKeys</FullClassName>
    <IsChild>0</IsChild>
    <AssemblyPath>Lemonade.Samples.Swap</AssemblyPath>
  </MenuItem> 
  <MenuItem>
    <Title>高级方法</Title>
    <ItemID>110003</ItemID>
    <ParentItemID>1100</ParentItemID>
    <FullClassName>Lemonade.Samples.Swap.FrmComplex</FullClassName>
    <IsChild>0</IsChild>
    <AssemblyPath>Lemonade.Samples.Swap</AssemblyPath>
  </MenuItem>
  <MenuItem>
    <Title>超图</Title>
    <ItemID>1200</ItemID>
    <ParentItemID>0</ParentItemID>
    <FullClassName></FullClassName>
    <IsChild>1</IsChild>
    <AssemblyPath></AssemblyPath>
  </MenuItem>
  <MenuItem>
    <Title>打开工作空间</Title>
    <ItemID>120001</ItemID>
    <ParentItemID>1200</ParentItemID>
    <FullClassName>Lemonade.Samples.SM.WorkspaceManage.FormMain</FullClassName>
    <IsChild>0</IsChild>
    <AssemblyPath>Lemonade.Samples.SM.WorkspaceManage</AssemblyPath>
  </MenuItem>
  <MenuItem>
    <Title>图层添加</Title>
    <ItemID>120002</ItemID>
    <ParentItemID>1200</ParentItemID>
    <FullClassName>Lemonade.Samples.SM.SampleCode.Mapping.FormMain</FullClassName>
    <IsChild>0</IsChild>
    <AssemblyPath>Lemonade.Samples.SM.SampleCode.Mapping</AssemblyPath>
  </MenuItem>

  <MenuItem>
    <Title>框架动作</Title>
    <ItemID>1300</ItemID>
    <ParentItemID>0</ParentItemID>
    <FullClassName></FullClassName>
    <IsChild>1</IsChild>
    <AssemblyPath></AssemblyPath>
  </MenuItem>
  <MenuItem>
    <Title>文本框插件(调用者)</Title>
    <ItemID>130001</ItemID>
    <ParentItemID>1300</ParentItemID>
    <FullClassName>Lemonade.Samples.Action.FrmActionText</FullClassName>
    <IsChild>0</IsChild>
    <AssemblyPath>Lemonade.Samples.Action</AssemblyPath>
  </MenuItem>
  <MenuItem>
    <Title>单独的响应同步变动1(处理者)</Title>
    <ItemID>130002</ItemID>
    <ParentItemID>1300</ParentItemID>
    <FullClassName>Lemonade.Samples.Action.FrmAction1</FullClassName>
    <IsChild>0</IsChild>
    <AssemblyPath>Lemonade.Samples.Action</AssemblyPath>
  </MenuItem>
  <MenuItem>
    <Title>单独的响应同步变动2(处理者)</Title>
    <ItemID>130003</ItemID>
    <ParentItemID>1300</ParentItemID>
    <FullClassName>Lemonade.Samples.Action.FrmAction2</FullClassName>
    <IsChild>0</IsChild>
    <AssemblyPath>Lemonade.Samples.Action</AssemblyPath>
  </MenuItem>
  <MenuItem>
    <Title>顺序的响应同步变动3(处理者)</Title>
    <ItemID>130004</ItemID>
    <ParentItemID>1300</ParentItemID>
    <FullClassName>Lemonade.Samples.Action.FrmAction3</FullClassName>
    <IsChild>0</IsChild>
    <AssemblyPath>Lemonade.Samples.Action</AssemblyPath>
  </MenuItem>
  <MenuItem>
    <Title>框架消息</Title>
    <ItemID>1400</ItemID>
    <ParentItemID>0</ParentItemID>
    <FullClassName></FullClassName>
    <IsChild>1</IsChild>
    <AssemblyPath></AssemblyPath>
  </MenuItem>
  <MenuItem>
    <Title>打开和关闭自定义消息处理器</Title>
    <ItemID>140001</ItemID>
    <ParentItemID>1400</ParentItemID>
    <FullClassName>Lemonade.Samples.Msg.FrmMsg</FullClassName>
    <IsChild>0</IsChild>
    <AssemblyPath>Lemonade.Samples.Msg</AssemblyPath>
  </MenuItem>
  <MenuItem>
    <Title>接收所有消息总线的消息数据</Title>
    <ItemID>140001</ItemID>
    <ParentItemID>1400</ParentItemID>
    <FullClassName>Lemonade.Samples.Msg.FrmMsgbus</FullClassName>
    <IsChild>0</IsChild>
    <AssemblyPath>Lemonade.Samples.Msg</AssemblyPath>
  </MenuItem>
  <MenuItem>
    <Title>框架消息盒子</Title>
    <ItemID>140002</ItemID>
    <ParentItemID>1400</ParentItemID>
    <FullClassName>Lemonade.StatusBox.FrmStatusBox</FullClassName>
    <IsChild>0</IsChild>
    <AssemblyPath>Lemonade.StatusBox</AssemblyPath>
  </MenuItem>
</Menus>
